<html>
<body>
	<title>PCCLICK</title>
    <p>HOLA EVERY BODY!</p>
    <p>FUNCIONA¡¡¡!</p>
    <html>
    <head>
        <title>Django Alex blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Alex Blog</a></h1>
        </div>

        <div>
            <p>published: 05.04.2020, 02:28</p>
            <h2><a href="">My first post PCCLICK</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 05.04.2020, 02:28</p>
            <h2><a href="">My second post PCCLICK</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>

</body>
</html>